@mixin custom_flex_display($direction, $justification, $aligment){
    display: flex !important;
    flex-direction: $direction !important;
    justify-content: $justification !important;
    align-items: $aligment !important;
}