@use '../utils/' as u;
@use '../global/' as g;
html{
    font-size: 100%;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
    font-family: u.$font;
    background-color: g.$primary;
}