@use './variables' as v;
@use '../utilities/' as u;
h1{
    font-size: v.$font-large;
}
span.error {
    @include u.errorSpan;
}
li {
    list-style:none;
}
button {
    border: none;
    outline: none;
}