@use '../utils/' as u;
//Colors:
//background
$primary: rgb(44,100,60);
$secondary: #10316B;
$tertiary: rgb(41,100,49);

//text color
$text-primary: #FFCE63;
$text-secondary: #F4F7C0;
$text-tertiary: #FFFFFF;
$text-regular: rgb(0,0,58);

// Font-size
$font-small: u.rem(18);
$font-medium: u.rem(24);
$font-large: u.rem(30);
$font-regular: u.rem(10);


