/**
APPLICATION CUSTOME VARIABLES
*/
@use '../utilities/' as u;

/**
FONT SIZES
*/
$font-small: u.rem(16);
$font-medium: u.rem(24);
$font-large: u.rem(32);
$font-xlarge: u.rem(44);

/**
FONT WEIGHT
*/
$font-extra2light: 50;
$font-extralight:100;
$font-light:150;
$font-normal:300;
$font-light-medium:400;
$font-bold:600;
$font-extrabold:700;
$font-extra2bold:800;
$font-extremebold:900;
