@use '../global/' as g;
@use '../utils/' as u;
footer {
    background-color: g.$secondary;
    padding: u.rem(12) u.rem(8);

    .footer_seciton__1{
        margin-bottom: u.rem(8);
    }
    .footer_seciton__2{
        text-align: center;
        span{
            font-weight: 100 !important;
        }
    }
}