@use '../utilities/' as u;

header{
    position: relative;
    display: flex;

    .menu{
        display: none;
    }
    .show_menu{
        display: flex;
    }
    .heading-text-container{
        position: absolute;
        top: 32%;
        .big_text{
            font-size: u.rem(52);
            font-weight: 700;
            text-align: right;
            padding-inline: u.rem(16);
            span{
                display: block;
            }
        }
    }
}