header{
    position: relative;
    display: flex;

    .menu{
        display: none;
    }
    .show_menu{
        display: flex;
    }
    .heading-text-container{
        position: absolute;
        top: 50%;
        .big_text{
            
        }
    }
}