@use '../utils/' as u;

.logo {
    min-width: u.rem(100);
    width: u.rem(100);
    max-width: u.rem(100);
    height: auto !important;
    margin-bottom: 0 !important;

    @include u.breakpoint-up(large) {
        min-width: u.rem(50);
        width: u.rem(50);
        max-width: u.rem(50);
    }
}