@use '../utils/' as u;
@use '../global/' as g;
.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    .mobile-view{
        @include u.flexcustomdirection(row, end, center);
        button{
            background-color: transparent !important;
            border: none !important;
            outline: none !important;
            color: g.$text-primary !important;
        }
    }
    .menu{
        display: none !important;
        margin-top: u.rem(-60) !important;
        padding-left: u.rem(35) !important;
        ul{
             padding-right: u.rem(60) !important;
             padding-left: u.rem(10) !important;
            padding-top: u.rem(12) !important;
            background-color: g.$primary;
            li{
                margin-bottom: u.rem(20) !important;
                a{
                    color: g.$text-primary;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                      background-color: g.$secondary;
                      padding: u.rem(12) !important;  
                      color: g.$text-tertiary !important;
                    }
                }
            }
        }
    }
    .show_menu{
        @include u.flexcustomdirection(column, start, start);
    }

    // Media queries:
    @include u.breakpoint-up(large){
        display: grid !important;
        grid-template-columns: 1fr 8fr !important;
        .mobile-view{
            display: none !important;
        }
        .menu{
            @include u.flexcustomdirection(column, center, center);
            background-color: red;
            // margin-inline: auto !important;
            ul{
                background-color: black !important;
                @include u.flexcustomdirection(row, center, center);
            }
        }
    }
}