@use '../utils/' as u;
@use '../global/' as g;
.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    .mobile-view{
        @include u.flexcustomdirection(row, end, center);
        button{
            background-color: transparent !important;
            border: none !important;
            outline: none !important;
            color: g.$text-primary !important;
        }
    }
    .menu{
        display: none !important;
        margin-right: u.rem(-138) !important;
        margin-top: u.rem(-60) !important;
        ul{
            margin-right: u.rem(-300) !important;
            padding-right: u.rem(36) !important; 
            background-color: g.$primary;
            li{
                margin-bottom: u.rem(20) !important;
                background-color: black !important;
                margin-left: u.rem(10) !important;
            }
        }
    }
    .show_menu{
        @include u.flexcustomdirection(column, end, center);
    }
}