@use '../utils/' as u;
@use '../global/' as g;
.header{
    display: grid;
    grid-template-columns: 4fr 8fr;

    .mobile-view{
        background-color: red;
        text-align: end !important;
        padding-right:u.rem(20);

        button{
            background-color: transparent;
            border: none;
            outline: none;
            color: g.$text-primary;
        }
    }
    .menu{
        display: none;
    }
}