@use '../utils/' as u;
@use '../global/' as g;
div.form-group {
        display: flex;
        input {
            display: block;
            border: u.rem(1) g.$text-tertiary solid ;
            outline: none;
            padding: 0 u.rem(4);
            width: 86vw;
            height: 5vh;
            border-radius: u.rem(4);
            background-color: transparent;
            color: g.$text-secondary;
        }
        button{
            display: block;
            // transform: rotateY(180deg);
            background-color: rgba(g.$text-tertiary, .2);
            border: none;
            border-radius: u.rem(4);
            color: g.$secondary;
            padding: u.rem(4);
        }
    }