@use '../utilities/' as u;

div.admin {
    @include u.grid(2fr 10fr, 'column');

    aside,
    main {
        height: 100vh;
    }

    aside {
        padding: u.rem(32) u.rem(32) u.rem(16) u.rem(16);
        background-color: #152238;
        @include u.custom_flex_display(column, none, none);

        >div,
        >li {
            @include u.custom_flex_display(row, none, none);
            margin: 0 0 u.rem(32) 0;

            // background-color: #ffffff;
            >span.icon,
            >span.caption,
            >span,
            >button {
                display: block;
                color: #ffffff;
            }
        }

        div {
            >span.caption {
                margin: 0 u.rem(160) 0 0;
            }
        }

        li {
            position: relative;

            >span.caption {
                margin: 0 0 0 u.rem(12);
            }

            >span.showSublinks {
                position: absolute;
                top: 4%;
                right: 0;
            }
        }

        >div.avatar-container {
            width: 100%;
        }
    }

    aside.expand {
        div.information {
            margin-bottom: u.rem(240);
        }
        width: 80vw;
        position: relative;
        >div.avatar-container {
            position: absolute;
            top: 16%;
            left: 25%;
            width: u.rem(120);
            height: u.rem(120);
            padding: u.rem(24);
            border-radius: 75%;
            @include u.custom_flex_display(column, center, center);
            >* {
                display: block;
            }
        }

        li.setMarginForSublinks {
            >span.sublinks {
                position: absolute;
                top: 100%;
                left: 8%;
                @include u.custom_flex_display(column);
            }

            >span>a {
                display: block;
                padding: u.rem(8) 0;
                @include u.grid(2fr 8fr, 'column');

                >* {
                    display: block;
                }
            }
        }
    }

    aside.minimize {
        width: 12vw;
        position: relative;

        div.information {
            margin-bottom: u.rem(96);
        }

        div.information,
        li {
            @include u.custom_flex_display(row, center, none);
            padding-left: u.rem(4);

            span.caption {
                display: none;
            }

            span.showSublinks {
                display: none;
            }
        }

        >div.avatar-container {
            position: absolute;
            top: 10%;
            left: 0;
            padding: u.rem(12);
            border-radius: 50%;
        }
    }

}