@use '../utilities/' as u;
@use '../global/' as g;
.homepage{
    .section_courses{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-color: transparent;
            width: u.rem(50);
            height: u.rem(60);
            top: u.rem(0);
            left: 0;
            border-top-left-radius: u.rem(25);
            box-shadow: 0 -25px 0 0 #faab00;
            z-index: 2;
        }
        .section_courses-content{
            .course_card-btn_row{
                a{
                    color: #f5f8de;
                    @include u.custom_flex_display(none,center, center);
                    & *{
                        display: block;
                    }
                }
            }
        }
    }
    .section_tips{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-color: transparent;
            width: u.rem(50);
            height: u.rem(60);
            bottom: u.rem(-60);
            right: 0;
            border-top-right-radius: u.rem(25);
            box-shadow: 0 -25px 0 0 #f5f8de;
            z-index: 2;
        }
    }
    .reviews{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-color: transparent;
            width: u.rem(50);
            height: u.rem(60);
            bottom: u.rem(-60);
            left: 0;
            border-top-left-radius: u.rem(25);
            box-shadow: 0 -25px 0 0 #ffc933;
        }
        .section-content{
            opacity: 1;
            transition: opacity 0.5s ease-out;
            &.hidden {
                opacity: 0;
              }
            article.review-container{
                div.reviewer-content{
                    p{
                        @include u.custom_flex_display(column, center, center);
                        span.openig-quote{
                            @include u.custom_flex_display(none, left, center);
                            width: 100%;
                            color: #ffc933;
                        }
                        span.closing-quote{
                            @include u.custom_flex_display(none, right, center);
                            width: 100%;
                            text-align: right;
                            color: #ffc933;
                             svg{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}